:root {
    --primary: #39A2FF;
    --accent: #FFAA00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    color: #4d4d4d;
}


/* navigation styles start here */
header {
    background: var(--primary);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: #fff;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    padding: .5rem 2rem;
    text-decoration: none;
}

.nav-ul.show {
    left: 0;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: none;
}

.hamburger .top,
.hamburger .bottom {
    width: 1.5rem;
    height: .1rem;
    border-radius: .2rem;
    background: #fff;
    margin: .5rem 0;
    transform: rotate(0);
    transition: transform .3s ease-in-out;
    transform-origin: 21% 50%;
}

.hamburger.active .top {
    transform: rotate(45deg);
}

.hamburger.active .bottom {
    transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
    .nav-ul {
        position: absolute;
        left: 100%;
        top: 44px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: var(--primary);
        transition: left .3s ease-in-out;
    }

    .nav-ul li {
        padding: 1rem;
    }

    .hamburger {
        display: block;
    }
}

/* slider style starts here */

.slider-container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform .3s ease-out;
    cursor: grab;
}

.slide {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem 3rem 1rem;
    user-select: none;
    transition: transform .3s ease-in-out;
}

.slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #e5e5e5;
    border-radius: 1rem;
}

.slide img {
    max-width: 80%;
    max-height: 60%;
    margin-top: auto;
}

.slide img.product-logo {
    margin-top: 1rem;
    width: 40%;
}

.slide h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.slide ul {
    padding: 2rem 2rem 0 2rem;
    line-height: 2rem;
}

.slide .btn {
    margin: 2rem 0 1rem 0;
}

.btn {
    background: var(--accent);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
}

.grabbing {
    cursor: grabbing;
}

.grabbing .slide {
    transform: scale(.95);
}

.dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    padding: 1rem 8rem;
    bottom: 0;
}

.dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    background: rgba(0, 0, 0, .20);
}
.dot.active {
    background: rgba(0, 0, 0, .6);
}